<ion-content class="login-page">

  <div class="login-container">
    
    <!-- IMAGEN DE FONDO -->
    <div class="background-image">
      <img src="assets/reparacion.jpg" alt="Workspace Illustration" class="illustration" />
    </div>

    <!-- TARJETA LOGIN FLOTANTE -->
    <div class="login-card-wrapper">
      <div class="login-card">
        
        <h1 class="title">Bienvenido</h1>

        <!-- EMAIL INPUT -->
        <div class="input-group">
          <ion-icon name="person" class="input-icon"></ion-icon>
          <ion-input 
            type="email" 
            placeholder="Correo Electrónico"
            [(ngModel)]="email"
            class="custom-input">
          </ion-input>
        </div>

        <!-- PASSWORD INPUT -->
        <div class="input-group">
          <ion-icon name="lock-closed" class="input-icon"></ion-icon>
          <ion-input 
            type="password" 
            placeholder="Contraseña"
            [(ngModel)]="password"
            class="custom-input">
          </ion-input>
        </div>

        <!-- FORGOT PASSWORD LINK -->
        <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>

        <!-- LOGIN BUTTON -->
        <ion-button expand="block" class="btn-login" (click)="login()">
          Ingresar
        </ion-button>

        <!-- REGISTER BUTTON -->
        <ion-button expand="block" class="btn-register" (click)="goToRegister()">
          Crear cuenta
        </ion-button>

      </div>
    </div>

  </div>

</ion-content>



