<ion-content class="login-page">

  <div class="split-container">

    <!-- IZQUIERDA: Ilustración / Gráfico -->
    <div class="illustration-panel">
      <img src="assets/reparacion.jpg" alt="Login Illustration" />
    </div>

    <!-- DERECHA: Formulario -->
    <div class="form-panel">

      <h1>Bienvenido</h1>

      <p class="intro">
        Ingresa tu informacion personal para continuar
      </p>

      <!-- SOCIAL LOGIN -->
      <div class="social-login">
      </div>


      <!-- EMAIL / PASSWORD -->
      <ion-item fill="outline">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item fill="outline">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">
        Iniciar Sesión
      </ion-button>

      <ion-button size="small" (click)="goToRegister()">
        Crear Cuenta
      </ion-button>

      <ion-button size="small" (click)="forgotPassword()">
        ¿Olvidaste tu contraseña?
      </ion-button>

    </div>

  </div>

</ion-content>



