<ion-content>
  <div class="login-wrapper">
    <div class="login-box">
      <h1>Manual de Armado</h1>
      <p class="subtitle">
        Plataforma educativa con modelos impresos en 3D
      </p>

        <ion-item fill="outline">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>


      <ion-button expand="block" (click)="login()">
        Ingresar
      </ion-button>

      <p class="footer-text">
        Proyecto académico – Primer ciclo
      </p>
    </div>
  </div>
</ion-content>
