<ion-content class="login-page">
  <div class="login-container">
    
    <div class="background-image">
      <img src="assets/imagenes/reparacion.jpg" alt="Fondo" class="illustration" />
    </div>

    <div class="login-card-wrapper">
      <div class="login-card">
        
        <h1 class="title">Crear Cuenta</h1>
        <p class="subtitle">Únete a ManualPiensa</p>

        <div class="input-group">
          <ion-icon name="mail" class="input-icon"></ion-icon>
          <ion-input 
            type="email" 
            placeholder="Correo Electrónico"
            [(ngModel)]="email"
            class="custom-input">
          </ion-input>
        </div>

        <div class="input-group">
          <ion-icon name="lock-closed" class="input-icon"></ion-icon>
          <ion-input 
            type="password" 
            placeholder="Contraseña (min. 6 caracteres)"
            [(ngModel)]="password"
            class="custom-input">
          </ion-input>
        </div>

        <ion-button expand="block" class="btn-login" (click)="register()">
          Registrarse
        </ion-button>

        <ion-button 
          expand="block" 
          fill="clear" 
          class="btn-back" 
          (click)="goToLogin()">
          ¿Ya tienes cuenta? Ingresa aquí
        </ion-button>

      </div>
    </div>

  </div>
</ion-content>