// Project color variables
// Turquesa principal, tonos blancos y grises para apariencia limpia
:root {
	--ion-color-primary: #0aa79a;
	--ion-color-primary-rgb: 10,167,154;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-light: #ffffff;
	--ion-color-medium: #9b9b9b;
	--ion-background-color: #f7f8f9;
}

// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
