<ion-header class="ion-no-border">
  <ion-toolbar>
    <div style="width: 100%; display: flex; justify-content: center;">
      
      <div class="navbar-pill-container">
        <a routerLink="/componentes" routerLinkActive="pill-active" class="pill-item">componentes</a>
        <a routerLink="/historia-computacion" routerLinkActive="pill-active" class="pill-item">historia</a>
        <a routerLink="/impresion3d" routerLinkActive="pill-active" [routerLinkActiveOptions]="{ exact: true }" class="pill-item">impresión 3d</a>
        <a routerLink="/razon-social" routerLinkActive="pill-active" class="pill-item">proyecto</a>
        <a routerLink="/creditos" routerLinkActive="pill-active" class="pill-item">créditos</a>
      </div>
    </div>
    <ion-buttons slot="end" style="z-index: 10;">
      <ion-button (click)="logout()" color="danger" fill="clear" title="Cerrar Sesión">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header-banner">
    <h1>Evolución Impresión 3D</h1>
    <p>Explora la historia y el modelo interactivo</p>
  </div>

  <div class="main-content-wrapper">

    <div class="split-layout">

      <div class="left-column">
        <div #threeContainer class="three-container"></div>
      </div>

      <section class="cards-grid">
        
        <div class="evo-card" *ngFor="let item of evolucionImpresion3D">
          <div class="card-img">
            <img [src]="item.imagen" [alt]="item.titulo" />
          </div>
          <ion-card-header>
            <ion-card-title>{{ item.anio }}  {{ item.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ item.descripcion }}
          </ion-card-content>
        </div>

      </section>

    </div> </div>

</ion-content>